<div class="collection-container">
  <% results = [] %>
  <% plants.each do |plant| %>
    <% if plant.price.to_i <= 30 %>
        <% results << plant %>
    <% end %>
  <% end %>
  <div class="collection-header">
    <h3>WON'T BREAK THE BANK</h3>
    <%= link_to  "SEE ALL >", plants_path %>
  </div>
  <div class="collection-results">
    <%= render partial: 'components/plant', collection: results.sample(4), as: :plant, locals: { card_height: "400px", img_height: 300, pos: "1" } %>
  </div>
</div>
