<%= link_to plant_path(plant, pos: pos) do %>
  <div class="card" style=" height: <%= card_height %>;">
    <div class="card-img" id="img" style="background-image: url('<%= cl_image_path plant.photo.path, height: img_height , crop: :fill %>');" >
    </div>
    <span class="card-content">
      <h2><%= plant.common_name %></h2>
    </span>
  </div>
<% end %>
