// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #01A35A;
$gray: #000000;
$light-gray: #EDEBEC;
$sprout-green: #01A35A;
