.title {
  h1 {
    z-index: -10;
    text-align: center;
    font-weight: lighter;
    font-size: 60px;
  }
}

.plants-container {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.card-row {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-content: bottom;
}

// Navigation Bar
.nav-container {
  height: 100vh;
}

#navScroll {
  position: fixed;
  color: white;
  top: 74px;
}

#navScroll li {
  max-height: 150px;
  min-height: 50px;
  position: relative;
  padding-left: 50px;
  margin-top: 15px;
  height: 17%;
  vertical-align: baseline;
}

#navScroll li em {
    position: absolute;
    left: 49px;
    top: 0px;
    width: 4px;
    background: #cca36e;
    opacity: 0;
    z-index: 3;
    max-height: 100% !important;
    height: 0;
    transition: height, opacity ease-out 0.3s;
    -webkit-transition: height, opacity ease-out 0.3s;
    -moz-top: 0;
}

#navScroll li.active em {
    opacity: 1;
}
.nav__item {
  line-height: 1;
  display: block;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  color: $green;
  border: 0;
  background: none;
  p {
    visibility: hidden;
    &:hover {
      visibility: visible;
    }
  }
}

.nav__item:focus {
  outline: none;
}

.nav--xusni .nav__item {
  width: 3em;
  height: 1.25em;
  margin: 0.5em 0;
}

.nav--xusni .nav__item::after {
  content: '';
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 30%;
  background: #3c4a9a;
  transform-origin: 0 0;
  transition: transform 0.5s, background-color 0.5s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.nav--xusni .nav__item:not(.nav__item--current):hover::after,
.nav--xusni .nav__item:not(.nav__item--current):focus::after {
  background: #212956;
  transition: background-color 0.3s;
}

.nav--xusni .nav__item--current::after {
  background: #212956;
  transform: scale3d(0.2,1,1);
}

.nav--xusni .nav__item-title {
  margin: 0 0 0 1em;
  opacity: 0;
  display: block;
  transform: translate3d(2em,0,0);
  transition: opacity 0.5s, transform 0.5s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.nav--xusni .nav__item--current .nav__item-title {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition-delay: 0.1s;
}
