.plants-container {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.card-row {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-content: top;
}

// Navigation Bar
.nav-container {
  height: 100%;
}

#navScroll {
  position: fixed;
  color: $green;
  top: 20%;
  left: 5%;
  height: auto;
}

#navScroll li {
  max-height: 100px;
  min-height: 50px;
  position: relative;
  padding-left: 10px;
  margin-top: 15px;
  height: auto;
  vertical-align: baseline;
  list-style: none;
}

#navScroll li:hover {
  a {
    padding-left: 23px;
    color: rgba(0,0,0,1);
    background-color: $light-gray;
  }
}
#navScroll li em {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4px;
    background: white;
    opacity: 0;
    max-height: 100% !important;
}

#navScroll li a {
  left: 0px;
  font-size: 10px;
  font-weight: 300;
  width: 150px;
  overflow: visible;
  z-index: 3 !important;
  color: black;
  display: block;
  height: 100%;
  padding: 3px;
  color: black;
  position: absolute;
  border-left: 2px solid rgba($green ,0.8);
  color: rgba(0,0,0,0);
  text-decoration: none;
  text-transform: uppercase;
}

#navScroll li.active em {
    opacity: 1;
  }

*:focus {
    outline: none;
}


#navScroll li span {
    position: absolute;
    width: 50px;
    height: 25px;
    color: $green;
    opacity: 0;
    font-size: 24px;
    letter-spacing: 0.1em;
    text-align: center;
    left: -45px;
    transition: all ease-out 0.3s;
    transform: rotate(-90deg);
}

#navScroll li.active span {
    opacity: 0.2;
}

.filter-message {
  padding: 50px;
  a {
    &:hover{
      color: $green;
    }
  }
}


.filters {
  position: fixed;
  color: $green;
  top: 20%;
  right: 5%;
}

.filters li {
  max-height: 150px;
  min-height: 50px;
  position: relative;
  padding-right: 10px;
  margin-top: 15px;
  height: 17%;
  vertical-align: baseline;
  list-style: none;
}

.filters li span {
    position: absolute;
    padding-left: 3px;
    width: 50px;
    height: 30px;
    color: $green;
    opacity: 0.5;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-align: center;
    right: -30px;
    transform: rotate(90deg);
}

.filter-checkboxes {
  right: 0px;
  font-size: 10px;
  font-weight: 400;
  width: 150px;
  color: black;
  display: block;
  height: 100%;
  padding: 3px;
  color: black;
  position: absolute;
  border-right: 2px solid rgba($green ,0.8);
  color: rgba(0,0,0,0);
  text-decoration: none;
  text-transform: uppercase;
}

.filters .btn {
  margin-top: 10px;
}
