.plants-container {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.card-row {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-content: top;
}

// Navigation Bar
.nav-container {
  height: 100%;
}

#navScroll {
  position: fixed;
  color: $green;
  top: 20%;
  left: 5%;
  max-height: 80vh;
}

#navScroll li {
  max-height: 100px;
  min-height: 20px;
  position: relative;
  padding-left: 10px;
  margin-top: 15px;
  height: auto;
  vertical-align: baseline;
  list-style: none;
}

#navScroll li:hover {
  a {
    padding-left: 23px;
    color: rgba(0,0,0,1);
    background-color: $light-gray;
  }
}
#navScroll li em {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4px;
    background: white;
    opacity: 0;
    max-height: 100% !important;
}

#navScroll li a {
  left: 0px;
  font-size: 10px;
  font-weight: 300;
  width: 150px;
  overflow: visible;
  z-index: 3 !important;
  color: black;
  display: block;
  height: 100%;
  padding: 3px;
  color: black;
  position: absolute;
  border-left: 2px solid rgba($green ,0.8);
  color: rgba(0,0,0,0);
  text-decoration: none;
  text-transform: uppercase;
}

#navScroll li.active em {
    opacity: 1;
  }

*:focus {
    outline: none;
}


#navScroll li span {
    position: absolute;
    width: 50px;
    height: 25px;
    color: $green;
    opacity: 0;
    font-size: 24px;
    letter-spacing: 0.1em;
    text-align: center;
    left: -45px;
    transition: all ease-out 0.3s;
    transform: rotate(-90deg);
}

#navScroll li.active span {
    opacity: 0.2;
}

.filter-message {
  padding: 50px;
  a {
    &:hover{
      color: $green;
    }
  }
}


.filters {
  position: fixed;
  color: $green;
  top: 20%;
  right: 5%;
  height: 90vh;
  .btn {
    margin-top: 40px !important;
  }
}

.filters li {
  max-height: 150px;
  min-height: 50px;
  position: relative;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 80px;
  height: 17%;
  vertical-align: baseline;
  list-style: none;
}

.filters li span {
  position: absolute;
  padding-left: 3px;
  width: 50px;
  height: 44px;
  color: $green;
  opacity: 0.5;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  right: -30px;
  transform: rotate(90deg);
}

.filter-category {
  position: relative;
}

.filter-checkboxes {
  height: 100%;
  padding: 3px;
  color: black;
  position: absolute;
  right: 0px;
  border-right: 2px solid rgba($green ,0.8);
}


.inner-filter-content {
  width: 1px;
  visibility: hidden;
  transition: all 1.2s;
  overflow: hidden;
}

#size {
  height: 44px;
}

#care_level {
  height: 44px;
}

#sun_level {
  height: 44px;
}

.filters .btn {
  margin-top: 10px;
}

li:hover {
  .filter-checkboxes  {
    background-color: white;
    border-bottom: 2px solid darken(white, 10%);
    .inner-filter-content {
      visibility: visible;
      width: 200px;
    }
    select {
      overflow: hidden;
      visibility: visible;
      &:hover {
      }
    }
  select option {
    visibility: visible;
    opacity: 1;
    display: block;
    width: 200px;
    overflow: hidden;
  }
  }
  &:after {
    .filter-checkboxes  {
      background-color: white;
      border-bottom: 2px solid darken(white, 10%);
      .inner-filter-content {
        visibility: visible;
        width: 200px;
      }
    }
  }
}

#filter {
  select {
    margin: 0 auto;
    font-size: 14px;
    color: $green;
    width: 200px;
    padding: 15px;
    height: 0px;
    cursor: pointer;
    transition: 0;
    overflow: hidden;
    background: url(http://sharpik.com/wip/cuteselect/arrow.png) 100px 12px no-repeat white;
  }


  select option {
    background-color: white;
    color: gray;
    width: 1px;
    padding: 15px 5px 20px 25px;
    height: 40px;
    cursor: pointer;
    align: top;
    opacity: 0;
    visibility: hidden;
    display: none;
    overflow: hidden;
  }

  select option:hover {
    padding-left: 25px;
    width: 190px;
    color: $green;
  }

  button {
    margin-top: 20px;
  }
}
