.plant-container {
  height: 700px;
  width: 100%;
  position: relative;
  .plant-image-lg {
    position: absolute;
    top: 0;
  }
}

.left-image-container {
  left: 0;
}

.right-image-container {
  right: 0;
}

.inner-plant-container {
  display: block;
  width: 50vw;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-content-container {
  position: absolute;
  top: 0;
  left: 0;
}

.right-content-container {
  position: absolute;
  top: 0;
  right: 0;
}

.plant-content {
  width: 80%;
  margin: auto;
}

hr {
  color: $green;
}

.plant-content-background {
  background-color: white;
  border-radius: 1px;
  padding: 10px 40px 10px 40px;
  display: grid;
  grid-template-rows: min-content;
  // box-shadow: 1px 2px 16px rgba(0,0,0,0.3);
  border-bottom: 3px solid darken($light-gray, 10%);
}


.plant-content-back {
  grid-column: 3 / span 1;
  grid-row: 1;
  text-align: right;
  position: relative;
  font-size: 16px;
  padding-top: 10px;
  a {
    position: absolute;
    top: 0;
    right: -30px;
    color: $light-gray;
    font-size: 20px;
    &:hover {
      color: $green;
    }
  }
}
.plant-content-name {
  border-left: 2px solid $green;
  padding-left: 23px;
  font-weight: 600;
  letter-spacing: 0.3em;
  margin: 0;
  margin-top: 30px;
  grid-column: 1 / span 3;
  grid-row: 1;
  h2 {
    margin: 0;
  }
}

.plant-content-price {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content-description {
  grid-column: 1 / span 3;
  grid-row: 3;
  text-align: justify;
  padding-left: 23px;
}

.content-descriptors {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  display: flex;
  flex-flow: row wrap;
  padding-left: 23px;
  justify-content: space-around;
  border-left: 2px solid $green;
  i {
    font-weight: 300;
    font-size: 1  em;
  }
}

.content-add-to-cart-form {
  grid-column: 1 / span 3;
  grid-row: 4;
}

#sci-name {
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0.15em;
}

