// Specific CSS for your home-page

.title {
  text-align: center;
  font-weight: 200px;
  border-color: $dark-gray;
  border: 1px;
}

.size-image {
  flex: 0 0 auto;
}

.partial-container {
  overflow: hidden;
}

.journey-modal-dialog {
  width: 1000px !important;
}

.journey-modal-content {
  width: 1000px !important;
}

.journey-modal-body {
  min-height: 450px !important;
}

#results {
  background-color: $light-gray;
}

.modal-footer {
  display: none;
}


.similar-collection-header {
  width: 100%;
}
