// Specific CSS for your home-page

// .default-hidden {
//   display: none;
// }

.title {
  text-align: center;
  font-weight: 200px;
  border-color: $dark-gray;
  border: 1px;
}

.size-image {
  flex: 0 0 auto;
}

.partial-container {
  // display: table !important;
  // height: 100% !important;
  // width: 100% !important;
  // background-color: rgba(0, 0, 0, 0.75) !important;
}

