// Specific CSS for your home-page

.default-hidden {
  display: none;
}

.title {
  text-align: center;
  font-weight: 200px;
  border-color: $dark-gray;
  border: 1px;
}

.size-image {
  flex: 0 0 auto;
}

.partial-container {
  overflow: scroll;
}

.journey-modal-dialog {
  width: 1000px !important;
}

.journey-modal-content {
  width: 1000px !important;
}

#results {
  background-color: $light-gray;
}
