.checkout-container {
  display: flex;
}

.checkout-steps {
  display: flex;
  .checkout-step {
    padding: 0 20px;
  }
  .active {
    border-bottom: solid 3px black;
  }
}

.hidden {
  display: none;
}

.order-header {
  padding: 1em 0;
  border-bottom: solid 1px gray;
}

.mini-cart {
  position: relative;
  border-bottom: solid 1px gray;
}

.mini-cart-name {
  position: absolute;
  top: 1em;
  left: 80px;
}

.mini-cart-qty {
  position: absolute;
  bottom: 5px;
  right: 110px;
}

.mini-cart-times {
  position: absolute;
  bottom: 5px;
  right: 80px;
}

.mini-cart-price {
  position: absolute;
  bottom: 5px;
  right: 0;
}
