.checkout-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px min-content;
}

.checkout-steps {
  display: flex;
  .checkout-step {
    padding: 0 20px;
  }
  .active {
    border-bottom:
    solid 3px black;
  }
}

.checkout-forms {
  grid-column: 1 / span 2;
  grid-row: 1 /span 2;
}

.hidden {
  display: none;
}

.order-header {
  padding: 1em 0;
  border-bottom: solid 1px gray;
}

.leaves-background {
  background-image: url("checkout-leaves-1.png");
  height: 900px;
  background-repeat: no-repeat;
  background-position: top right;
}

