.checkout-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  .title-2 {
    margin-top: 0;
  }
}

.checkout-steps {
  display: flex;
  .checkout-step {
    padding: 0 20px;
  }
  .active {
    border-bottom:
    solid 3px black;
  }
}

.checkout-steps {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.checkout-form {
  grid-column: 1 / span 2;
  grid-row: 2;
  padding-top: 0;
}


.hidden {
  display: none;
}

.order-header {
  padding: 1em 0;
  border-bottom: solid 1px gray;
}

.leaves-background {
  background-image: image-url("checkout-leaves-1.png");
  min-height: 120vh;
  background-repeat: no-repeat;
  background-position: top right;
}

.order-summary {
  grid-column: 1 / span 3;
  grid-row: 3;

}

.order-summary-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 1px;
  border-bottom: 3px solid darken($light-gray, 10%);
  margin-bottom: 64px;
  padding: 30px;
  .box-card {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
  }
  .mini-cart {
    margin-right: 10px;
  }
  .order-totals-table {
    align-self: flex-end;
  }
  .order-total {
    font-weight: 700;
    font-size: 20px;
  }
  td {
    padding: 0 15px;
    text-align: right;
  }
}

#order-form {
  h5 {
    font-weight: 400;
    margin-left: 15px;
  }
}

.order-confirmation-details {
  display: flex;
  justify-content: space-between;
}

.messenger-reminders {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-bottom: 3px solid darken($light-gray, 10%);
  h5 {
    margin: 10px 10px;
  }
}

#u_0_1 {
  margin-left: 150px;
}

.fb-send-to-messenger {
  margin:  10px 20px;
}
