<table class="order-totals-table">
  <tbody>
    <tr class="order-subtotal">
      <td>Subtotal</td>
      <td>$ <%= number_with_precision(order.subtotal, :precision => 2) %></td>
    </tr>
    <tr class="order-shipping">
      <td>Shipping</td>
      <td>
        $ <%= number_with_precision(order.shipping, :precision => 2) %>
      </td>
    </tr>
    <tr class="order-sales-tax">
      <td>Tax</td>
      <td>
          $ <%= number_with_precision(order.tax, :precision => 2) %>
      </td>
    </tr>
    <tr class="order-total">
      <td>Total</td>
      <td class="order-value">$ <%= number_with_precision(order.total, :precision => 2) %></td>
    </tr>
  </tbody>
</table>
