<table class="order-totals-table">
  <tbody>
    <tr class="order-subtotal">
      <td>Subtotal</td>
      <td>$ <%= order.subtotal %></td>
    </tr>
    <tr class="order-shipping">
      <td>Shipping</td>
      <td>
        <% if current_order.address_id %>
          $ <%= order.shipping %>
        <% else %>
          -
        <% end %>
      </td>
    </tr>
    <tr class="order-sales-tax">
      <td>Estimated sales tax</td>
      <td>
       <% if current_order.address_id %>
          $ <%= order.tax %>
        <% else %>
          -
        <% end %>
      </td>
    </tr>
    <tr class="order-total">
      <td>Estimated total</td>
      <td class="order-value">$<%= order.total %></td>
    </tr>
  </tbody>
</table>
