<div class="container-checkout">
  <h1>Checkout</h1>
  <div class="checkout-form">
    <%= render "addresses/form", address: @address, order: current_order %>
  </div>

  <div class="order-summary">
    <%= render 'order_totals_table', order: current_order %>
  </div>
</div>
