
<div class="banner" style="background-image: url('<%= image_path('banner-background.jpg') %>;">
  <div class="banner-content">
    <div class="banner-text">
      <h1>FIND</h1>
      <h1>YOUR</h1>
      <h1 class="fade-out">PERFECT</h1>
      <h1>PLANT</h1>
    </div>
    <br>

    <div class="banner-buttons">
      <button type="button" class="sprout-btn sprout-cta" id="journey" data-toggle="modal" data-target="#exampleModal">DISCOVER</button>

      <%= link_to '<button type="button" class="sprout-btn sprout-secondary">PLANTS</button>'.html_safe, plants_path %>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog journey-modal-dialog" role="document">
    <div class="modal-content journay-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Let's find you the perfect plant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="partial-container" id="partial">
          <%= render partial: "journey/form" %>
          <div id="results"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--         <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<!-- <script>
  const journey = document.getElementById("journey");
  const partial = document.getElementById("partial");
  journey.addEventListener("click", (event) => {
    partial.style.display = "inline";
  });
</script> -->
