<h1>sprout</h1>
<p>Find the perfect plant.</p>
<button class="btn btn-success" id="journey">Journey</button>
<div class="partial-container default-hidden" id="partial">
  <%= render "journey/form" %>
</div>

<script>
  const journey = document.getElementById("journey");
  const partial = document.getElementById("partial")
  journey.addEventListener("click", (event) => {
    partial.style.display = "inline"
    console.log("try")
  });
</script>
