<div class="container">
  <div class="title"></div>
  <% @plants.each_slice(2) do |plants| %>
    <div class="row">
      <% plants.each do |plant| %>
        <div class="col-xs-12 col-md-6 no-gutter" >
          <%= render partial: 'components/plant', locals: { plant: plant, height: "600px" } %>
        </div>
       <% end %>
      <div class="w-100"></div>
    </div>
  <% end %>
</div>



