<div class="plant-container">
  <div class="row">
    <% if params[:pos].to_i == 2 %>
      <div class="align-left col-xs-6">
        <%= render partial: 'components/plant_content', locals: { plant: @plant, order_item: @order_item } %>
      </div>
      <div class="plant-image-lg col-xs-6">
        <div class="card-img" id="img" style="background-image: url('<%= cl_image_path @plant.photo.path, crop: :fill %>'); height: 700px">
        </div>
      </div>
    <% else %>
      <div class="plant-image-lg col-xs-6">
         <div class="card-img" id="img" style="background-image: url('<%= cl_image_path @plant.photo.path, crop: :fill %>'); height: 700px">
        </div>
      </div>
      <div class="align-left col-xs-6">
        <%= render partial: 'components/plant_content', locals: { plant: @plant, order_item: @order_item } %>
      </div>
    <% end %>
  </div>
</div>

