.banner {
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  align: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.banner-content {
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}


.banner-content {
  align-content: center;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner-button {
  align-content: center;
}
