.sprout-btn  {
  border-radius: 3px;
  overflow: hidden;
  width: 184px;
  height: 44px;
  padding: 4px 24px;
  border: solid;
  border-width: 1.0px;
  font-size: 24px;
  color: $light-gray;
  font-weight: 300;
  letter-spacing: .08em;
  body {
    margin: 0;
  }
}


#cart-btn {
  width: 100%;
  margin: 0 10px;
  height: 54px;
  padding: 4px 24px;
  position: relative;
  overflow: hidden;
  background-color: $green;
  transition: all 0.3s ease;
  .layer {
    color: $light-gray;
    position:absolute;
    top:-54px;
    width:100%;
    height: 54px;
    text-align: center;
    left:-5px;
    padding:20px 0;
    background-color:$green;
    transition: all 0.3s ease;
  }
  &:hover {
    .layer {
      top:0;
      cursor: pointer;
    }
    .cart-btn {
      background: transparent;
      color: transparent;
    }
  }
  &:hover::after {
    transition: all 0.3s ease;
    .layer {
      top: -54px;
    }
  }
}

.cart-btn {
  position: absolute;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-width: 1.0px;
  color: $light-gray;
  font-weight: 300;
  letter-spacing: .08em;
  border-radius: 3px;
  border-color: $green;
  border-bottom: 2px solid darken($green, 10%);
  background-color: $green;
  &:active {
    background-color: $green;
  }
  &:focus {
    background-color: darken($green, 10%);
    color: $light-gray;
  }
}

.checkout-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 500;
  background-color: $green;
  color: white;
  width: 100%;
  height: 54px;
  text-align: center;
  letter-spacing: .1875rem;
  line-height: 54px;
  &:hover {
    color: black;
  }
}

#fb-btn {
  background-color: #4568b2;
  color: white;
  i {
    padding: 0 10px;
  }
}


.sprout-cta {
  position: relative;
  overflow: hidden;
  width: 184px;
  height: 44px;
  background-color: $green;
  button {
    border-color: $green;
    border-bottom: 2px solid darken($green, 10%);
    background: $green;
    color: white;
    transition: all .45s ease;
  }
  .layer {
    position:absolute;
    margin-bottom: 10px;
    padding: 4px 24px 24px 24px;
    margin-left: 4px;
    top: -44px;
    width:184px;
    height: 44px;
    text-align: center;
    left:-5px;
    padding:20px 0;
    color: white;
    background-color: $green;
    transition: all 0.3s ease;
  }
  &:hover {
    .layer {
      top:-10px;
      cursor: pointer;
    }
    button {
      background: transparent;
      color: transparent;
    }
  }
  &:hover::after {
    transition: all 0.3s ease;
    .layer {
      top: -44px;
    }
  }
  &:focus {
    background: $green;
  }
  &:visited {
    background: $green;
  }

  &:active {
    background: $green;
  }
}


.sprout-secondary {
  position: relative;
  overflow: hidden;
  width: 184px;
  height: 44px;
  background-color: white;
  button {
    border-color: white;
    border-bottom: 2px solid darken($light-gray, 20%);
    background: white;
    color: $green;
    transition: all .45s ease;
  }
  .layer {
    position:absolute;
    margin-bottom: 10px;
    padding: 4px 24px 24px 24px;
    margin-left: 4px;
    top: -44px;
    width:184px;
    height: 44px;
    text-align: center;
    left:-5px;
    padding:20px 0;
    background-color:white;
    transition: all 0.3s ease;
  }
  &:hover {
    .layer {
      top:-10px;
      cursor: pointer;
    }
    button {
      background: transparent;
      color: transparent;
    }
  }
  &:hover::after {
    transition: all 0.3s ease;
    .layer {
      top: -44px;
    }
  }
  &:focus {
    background: white;
  }
  &:visited {
    background: white;
  }

  &:active {
    background: white;
  }
}



#recommendation-btn {
  border: none;
  border-radius: 0;
}
