.sprout-btn  {
  border-radius: 1px;
  padding: 10px 24px;
  border: solid;
  border-width: 1.5px;
  font-size: 18px;
  color: $light-gray;
}

.sprout-cta {
  border-color: $green;
  background-color: $green;
}

.sprout-cta:hover {
  transform: scale(1.05);
  border-color: $green;
  color: $green;
  background: none;
}

.sprout-cta:focus {
  transform: scale(1.00);
  border-color: $green;
  color: $green;
  background: none;
}

.sprout-cta:visited {
  border-color: $green;
  color: $green;
  background: none;
}

.sprout-cta:active {
  background: none;
  border-color: $green;
}

.sprout-secondary {
  border-color: $light-gray;
  background: none;
  color: black;
}

.sprout-secondary:hover {
  background: white;
}

.sprout-secondary:focus {
  background: white;
}

.sprout-secondary:visited {
  background: white;
}

.sprout-secondary:active {
  background: white;
}
