.sprout-btn  {
  border-radius: 5px;
  overflow: hidden;
  width: 144px;
  padding: 6px 24px;
  border: solid;
  border-width: 1.0px;
  font-size: 18px;
  color: $light-gray;
  font-weight: 300;
  letter-spacing: .08em;
  body {
    margin: 0;
  }
}


.sprout-cta {
  border-color: $green;
  background-color: $green;
}

.sprout-cta:hover {
  border-color: $green;
  color: $green;
  background: none;
}

.sprout-cta:focus {
  border-color: $green;
  color: $green;
  background: none;
}

.sprout-cta:visited {
  border-color: $green;
  color: $green;
  background: none;
}

.sprout-cta:active {
  background: none;
  border-color: $green;
}

.sprout-secondary {
  border-color: white;
  background: none;
  color: white;
  transition: background-color .45s ease;
}

.sprout-secondary:hover {
  background: white;
}

.sprout-secondary:focus {
  background: white;
}

.sprout-secondary:visited {
  background: white;
}

.sprout-secondary:active {
  background: white;
}
