.sprout-btn  {
  border-radius: 3px;
  overflow: hidden;
  width: 184px;
  height: 44px;
  padding: 4px 24px;
  border: solid;
  border-width: 1.0px;
  font-size: 24px;
  color: $light-gray;
  font-weight: 300;
  letter-spacing: .08em;
  margin: 10px;
  body {
    margin: 0;
  }
}


.cart-btn {
  width: 100%;
  margin: 0 10px;
  height: 54px;
  padding: 4px 24px;
  border-width: 1.0px;
  color: $light-gray;
  font-weight: 300;
  letter-spacing: .08em;
  border-radius: 3px;
  border-color: $green;
  border-bottom: 2px solid darken($green, 10%);
  background-color: $green;
}

.checkout-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 500;
  background-color: $green;
  color: white;
  width: 100%;
  height: 54px;
  text-align: center;
  letter-spacing: .1875rem;
  line-height: 54px;
  &:hover {
    color: black;
  }
}

#fb-btn {
  background-color: #4568b2;
  color: white;
  i {
    padding: 0 10px;
  }
}

.sprout-cta {
  border-color: $green;
  border-bottom: 2px solid darken($green, 10%);
  background-color: $green;
  transition: box-shadow .45s ease;
}

.sprout-cta:hover {
  box-shadow:  0 8px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sprout-cta:focus {
  border-color: $green;
  color: $green;
  background: none;
}

.sprout-cta:visited {
  border-color: $green;
  color: $green;
  background: none;
}

.sprout-cta:active {
  background: none;
  border-color: $green;
}

.sprout-secondary {
  border-color: white;
  border-bottom: 2px solid darken($light-gray, 20%);
  background: white;
  color: $green;
  transition: box-shadow .45s ease;
}

.sprout-secondary:hover {
  box-shadow:  0 8px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sprout-secondary:focus {
  background: white;
}

.sprout-secondary:visited {
  background: white;
}

.sprout-secondary:active {
  background: white;
}

