.card {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  width: 100%;
  &:hover {
    .card-content{
      transform: translateY(-20px);
      opacity: 1;
      transition: opacity .5s ease;
      transition: transform .5s ease;
  }
}

}
.card-img {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: center;
  background-repeat: no-repeat;
}

.card-content {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
  opacity: 0;
  h2 {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .03em;
    color: $gray;
    text-transform: uppercase;
  }
}


.no-gutters {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
