.collection-container {
  width: 80%;
  margin-left: 10%;
}

.collection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-weight: 400;
    margin: 0;
  }
  a {
    align-self: flex-end;
    color: black;
    font-weight: 500;
    font-size: 14px;
  }
}

.collection-results {
  height: calc(50vh-100px);
  display: flex;
  overflow: scroll;
  a {
    width: 25%;
  }
}

.similar-collection-header {
  display: block;
  width: 100vw;
  height: 50vh;
  font-size: 2rem;
  letter-spacing: .1875rem;
  background-color: $green;
  color: white;
  line-height: 50vh;
  text-align: center;
}

.similar-collection-results {
  height: calc(50vh-100px);
  display: flex;
  overflow: scroll;
  a {
    width: 25%;
  }
}
