.next {
  margin-left: 45% !important;
  text-align: center !important;
  font-weight: lighter;
  color: $dark-gray;
  &:hover {
    color: $dark-gray;
  }
}


.title {
  color: $dark-gray;
  font-weight: lighter;

}

.selector {
  margin: 1vw;
  height: 200px;
  width: 200px;
  img {
    display: block;
    max-height: 160px;
    max-width: 160px;
    width: auto;
    height: auto;
    margin: 0 auto;
  }
}

.form-section {
  width: 100%;
}

.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}
