.default-hidden {
  display: none;
}

.journey-explanation{
  text-align: center;
}

.selectors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  label {
    border: 1px solid rgba(darken($light-gray, 50%),.15);
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 1vh;
    cursor: pointer;
    opacity: .8;
    transition: all .5s ease-in-out;
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
    &:hover, &:focus, &:active {
      border: 1px solid rgba(black,.8);
    }
    div {
      width: 100%;
    }
  }

  input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input[type="radio"]:active ~ label {
    opacity: 1;
  }

  input[type="radio"]:checked ~ label {
    opacity: 1;
    border: 1px solid black;
  }
}

// .next {
//   margin-left: 45% !important;
//   text-align: center !important;
//   font-weight: lighter;
//   color: $dark-gray;
//   &:hover {
//     color: $dark-gray;
//   }
// }

.title {
  color: $dark-gray;
  font-weight: 500;
}

.selector {
  margin: 1vw;
  height: 200px;
  width: 200px;
  img {
    display: block;
    max-height: 160px;
    max-width: 160px;
    width: auto;
    height: auto;
    // margin: 0 auto;
  }
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .1s;
    transition: opacity .1s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $green;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $green;
    cursor: pointer;
}

#slidecontainer {
  width: 60%;
  margin: auto;
}

.modal-footer {
  display: none;
}
