// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.spacer {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  span {
    font-size: 12px;
  }
}

.default-hidden {
  opacity: 0;
}
