.add-qty {
  display: flex;
  justify-content: space-between;
}

#quantity {
  display: flex;
}

#qty-num {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#plus-one {
  border: solid 1px #d2d2d2;
  padding: 0 3px;
  background-color: white;
  cursor: pointer;
}

#minus-one {
  border: solid 1px #d2d2d2;
  padding: 0 3px;
  background-color: white;
  cursor: pointer;
}

#quantity input {
  width: 60px;
  height: 54px;
  text-align: center;
  float: left;
  border: 1px solid #d2d2d2;
  color: #333;
  background-color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
